@font-face {
  font-family: 'pranto';
  src: url('../../fonts/pranto.eot?52154321');
  src: url('../../fonts/pranto.eot?52154321#iefix') format('embedded-opentype'),
       url('../../fonts/pranto.woff2?52154321') format('woff2'),
       url('../../fonts/pranto.woff?52154321') format('woff'),
       url('../../fonts/pranto.ttf?52154321') format('truetype'),
       url('../../fonts/pranto.svg?52154321#pranto') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pranto';
    src: url('../font/pranto.svg?52154321#pranto') format('svg');
  }
}
*/
 
 [class^="pranto-"]:before, [class*=" pranto-"]:before {
  font-family: "pranto";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.pranto-lock-filled:before { content: '\e800'; } /* '' */
.pranto-upload-cloud:before { content: '\e801'; } /* '' */
.pranto-arrows-ccw:before { content: '\e802'; } /* '' */
.pranto-play-circled2:before { content: '\e803'; } /* '' */
.pranto-up-open:before { content: '\e804'; } /* '' */
.pranto-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.pranto-vimeo:before { content: '\f306'; } /* '' */
.pranto-twitter-1:before { content: '\f309'; } /* '' */
.pranto-facebook:before { content: '\f30c'; } /* '' */
.pranto-gplus:before { content: '\f30f'; } /* '' */
.pranto-tumblr:before { content: '\f315'; } /* '' */
.pranto-linkedin:before { content: '\f318'; } /* '' */
.pranto-skype:before { content: '\f339'; } /* '' */