/*=======================================================

	// PRE-LOADER

=========================================================*/
.preloader {
  background-color: #2980b9;
}

/*============================= End Preloader =============================*/
/*=======================================================

	// NAVIGATION

=========================================================*/
.main-navbar-top.navbar-home .navbar-nav li a {
  color: #2980b9;
}

.main-navbar-top.navbar-home .navbar-nav li a:hover {
  color: #2980b9;
}

.main-navbar-top.navbar-home .navbar-nav li.active:after {
  background: #2980b9;
}

/*=======================================================

	// FOR 0 TO 767;

=========================================================*/
@media screen and (max-width: 767px) {
  .navbar-toggle {
    border: 1px solid #fff;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-collapse {
    background-color: #fff;
    border-top: 1px solid #2980b9;
  }
  .nav > li > a {
    color: #2980b9;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    color: #2980b9;
  }
  .navbar-nav li.active:after {
    width: 100%;
    background: #2980b9;
  }
  .main-navbar-top.navbar-home .navbar-toggle {
    border: 1px solid #2980b9;
  }
  .main-navbar-top.navbar-home .navbar-toggle .icon-bar {
    background-color: #2980b9;
  }
}

/*============================= End Navigation =============================*/
/*=======================================================

	// HEADER SECTION

=========================================================*/
.header-bg {
  background-color: #2980b9;
}

.header .part-inner-left .btn:hover, .header .part-inner-left .btn:active, .header .part-inner-left .btn:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.header .part-inner-left .btn-default.active, .header .part-inner-left .btn-default.focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/*============================= End Header Section =============================*/
/*=======================================================

	// SECOND SECTION

=========================================================*/
.second-left .btn-default:hover {
  color: #fff;
  background-color: #2980b9;
  border-color: transparent;
}

.second-left .btn-default.active.focus, .second-left .btn-default.active:focus, .second-left .btn-default.active:hover, .second-left .btn-default:active.focus, .second-left .btn-default:active:focus, .second-left .btn-default:active:hover {
  color: #fff;
  background-color: #2980b9;
  border-color: transparent;
}

.second-left .btn-default.focus, .second-left .btn-default:focus {
  color: #fff;
  background-color: #2980b9;
  border-color: transparent;
}

/*============================= End Second Section =============================*/
/*=======================================================

	// THIRD SECTION

=========================================================*/
.love-details-right .media .media-object {
  color: #2980b9;
}

/*============================= End Third Section =============================*/
/*=======================================================

	// FOURTH SECTION

=========================================================*/
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  background-color: #2980b9;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  background-color: #2980b9;
}

.owl-theme .owl-dots .owl-dot span {
  border-color: #2980b9;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #2980b9;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #2980b9;
}

/*============================= End Fourth Section =============================*/
/*=======================================================

	// FIFTH SECTION

=========================================================*/
.faq-group .faq-trigger {
  color: #000;
}

.faq-group .each-faq {
  background-color: #fff;
}

.faq-group .each-faq.open .faq-trigger {
  color: #fff;
  background-color: #2980b9;
}

/*============================= End Fifth Section =============================*/
/*=======================================================

	// SIXTH SECTION

=========================================================*/
.client_scale {
  border: 1px solid #2980b9;
  border-radius: 50%;
}

.client-bg .selection-dot img {
  border: 1px solid transparent;
}

.client-bg .selection-dot.active img {
  border: 1px solid #2980b9;
}

/*============================= End Sixth Section =============================*/
/*=======================================================

	// SEVENTH SECTION

=========================================================*/
.sponsor {
  background: #2980b9;
}

/*============================= End Seventh Section =============================*/
/*=======================================================

	// Eighth SECTION

=========================================================*/
.contact {
  margin-top: 102px;
}

.contact-bg {
  box-shadow: 0px 0px 40px 0px rgba(41, 128, 185, 0.2);
}

.contact-bg .contact-form .form-group:after, .contact-bg .contact-form .form-group:before {
  background-color: #c3c3c7;
}

.contact-bg .contact-form .form-group:after {
  background-color: #2980b9;
}

.contact-bg .contact-form .form-label {
  color: #383838;
}

.contact-bg .contact-form .is-focused .form-label {
  color: #2980b9;
}

.contact-bg .contact-form .btn {
  border: none;
  background-color: #2980b9;
}

/*============================= End Eighth Section =============================*/
/*=======================================================

	// Ninth SECTION

=========================================================*/
.footer {
  background-color: #2980b9;
}

.footer .footer-one h3 {
  color: #fff;
}

.footer .footer-one p {
  color: #fff;
}

.footer .footer-two h3 {
  color: #fff;
}

.footer .footer-two ul li p {
  color: #fff;
}

.footer .footer-three h3 {
  color: #fff;
}

.footer .footer-three ul li i {
  color: #fff;
}

.footer .footer-down {
  border-top: 1px solid #2280ff;
}

/*============================= End Ninth Section =============================*/
/*=======================================================

	// Style Switcher

=========================================================*/
.agency-style-switch .switch-button:hover {
  color: #2980b9;
}

/*============================= End Style Switcher =============================*/
