$color: #C4171C;

/*=======================================================

	// PRE-LOADER

=========================================================*/

.preloader {
	background-color: $color;
}

/*============================= End Preloader =============================*/

/*=======================================================

	// NAVIGATION

=========================================================*/

.main-navbar-top.navbar-home {
	background-color: $color;
}

.main-navbar-top.navbar-home .navbar-nav li a {
	color: #fff;

	&:hover {
		color: #fff;
	}
}

.main-navbar-top.navbar-home .navbar-nav li.active:after {
	background: #fff;
}

/*=======================================================

	// FOR 0 TO 767;

=========================================================*/

@media screen and (max-width: 991px) {

	.navbar-toggle {
		border: 1px solid #fff;

		.icon-bar {
			background-color: #fff;
		}
	}

	.navbar-collapse {
		background-color: #fff;
		border-top: 1px solid $color;
        padding-right: 0;
	}

	.nav > li > a {
		color: $color;
	}

	.nav>li>a:hover, .nav>li>a:focus {
		color: $color;
	}

	.navbar-nav li.active:after {
		width: 100%;
		background: $color;
	}

	.main-navbar-top.navbar-home {

		.navbar-toggle {
			border: 1px solid #fff;

			.icon-bar {
				background-color: #fff;
			}
		}
        
        .nav > li > a {
		    color: $color;
        }

        .nav>li>a:hover, .nav>li>a:focus {
            color: $color;
        }
        
        .navbar-nav li.active:after {
            background: $color;
        }
	}
    
    .pull-right {
        float: none !important;
    }
}

/*============================= End Navigation =============================*/

/*=======================================================

	// HEADER SECTION

=========================================================*/

.header-bg {
	background-color: $color;
}

.header {

	.part-inner-left {
		
		.btn {

			&:hover, &:active, &:focus {
				background-color: #fff;
                border-color: #fff;
                color: $color;
			}
		}

		.btn-default.active, .btn-default.focus {
			color: #fff;
			background-color: transparent;
			border-color: #fff;
		}
	}
}

/*============================= End Header Section =============================*/

/*=======================================================

	// SECOND SECTION

=========================================================*/

.second-left {

	.feature-slider {
        
        .owl-theme .owl-dots .owl-dot {
            
            span {
                
            }
        }
    }

}

.second-right {
 
    h2 {
        color: $color;
    }
    
    .feature-media {
        
        .media-each {
            
            span {
                
                i {
                    color: $color
                }
            }
            
            .media-content {
                
                h3 {
                    color: $color;
                }
            }
        }
    }
}

/*============================= End Second Section =============================*/

/*=======================================================

	// THIRD SECTION

=========================================================*/

.love-details-right {

	.media {

		.media-object {
			color : $color;
		}
	}
}

/*============================= End Third Section =============================*/

/*=======================================================

	// FOURTH SECTION

=========================================================*/

.owl-carousel {

	.owl-controls {

		.owl-nav {

			.owl-next {

				&:hover {
					background-color: $color;
				}
			}
		}
	}
}

.owl-theme {

	.owl-dots {

		.owl-dot {

			span {
                background-color: #fff;
			}
		}
	}
}

.owl-theme {

	.owl-dots {

		.owl-dot.active {

			span {
				
                &:after {
                    background-color: $color;
                }
			}
		}

		.owl-dot {

			&:hover {

				span {
                    
                    &:after {
                        background-color: $color;
                        display: block;
                    }		
				}
			}
		}
	}
}

.team-slider {
    
    .item {
        
        .caption {
            
            h4 {
                color: $color;
            }
            
            ul {
                
                li {
                  
                    &:hover {
                        
                        a {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
}

/*============================= End Fourth Section =============================*/

/*=======================================================

	// FIFTH SECTION

=========================================================*/

.subscribe {
    
    .subs-input {

        form {

        }

        button {
            background-color: $color;
        }
    }
}


/*============================= End Fifth Section =============================*/

/*=======================================================

	// SIXTH SECTION

=========================================================*/


/*============================= End Sixth Section =============================*/

/*=======================================================

	// SEVENTH SECTION

=========================================================*/

.contact {
    
    .contact-form {
        
        .form-label {
            color: #888888;
        }
        
        .form-input {
            background-color: #EAEAEA;
        }
        
        .contact-social {
            
            ul {
                
                li {
                    
                    a {
                        color: #fff;
                    }
                    
                    &:nth-child(1) {
                        background-color: #2F5E9B;
                    }
                    
                    &:nth-child(2) {
                        background-color: #00A8DD;
                    }
                    
                    &:nth-child(3) {
                        background-color: #E25445;
                    }
                }
            }
            
            button {
                background-color: $color;
                
                i {
                    color: #ffffff;
                }
            }
        }
    }
}

/*============================= End Seventh Section =============================*/

/*=======================================================

	// Eighth SECTION

=========================================================*/


/*============================= End Eighth Section =============================*/

/*=======================================================

	// Ninth SECTION

=========================================================*/

.footer {

    .section-header {
        
        h2, p {
            color: #fff;
        }
    }
    
    .btn {
        color: #fff;
        background-color: $color;
        
        &:active {
            background-color: $color;
            color: #ffffff;
        }
    }
    
    .footer-social {
        
        ul {
            
            li {
                
                a {
                    color: #999999;
                    
                    &:hover, &:focus, &:active {
                        color: $color;
                    }
                }
            }
        }
        
        p {
            color: #999999;
        }
    }
    
    .back2top {
        
        a {
            color: #ffffff;
            background-color: $color;
        }
    }
}

/*============================= End Ninth Section =============================*/

/*=======================================================

	// Style Switcher

=========================================================*/

.agency-style-switch .switch-button:hover {
	color: $color;
}

/*============================= End Style Switcher =============================*/