/*=======================================================

	// PRE-LOADER

=========================================================*/
.preloader {
  background-color: #c4171c;
}

/*============================= End Preloader =============================*/
/*=======================================================

	// NAVIGATION

=========================================================*/
.main-navbar-top.navbar-home {
  background-color: #c4171c;
}

.main-navbar-top.navbar-home .navbar-nav li a {
  color: #fff;
}
.main-navbar-top.navbar-home .navbar-nav li a:hover {
  color: #fff;
}

.main-navbar-top.navbar-home .navbar-nav li.active:after {
  background: #fff;
}

/*=======================================================

	// FOR 0 TO 767;

=========================================================*/
@media screen and (max-width: 991px) {
  .navbar-toggle {
    border: 1px solid #fff;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-collapse {
    background-color: #fff;
    border-top: 1px solid #c4171c;
    padding-right: 0;
  }

  .nav > li > a {
    color: #c4171c;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    color: #c4171c;
  }

  .navbar-nav li.active:after {
    width: 100%;
    background: #c4171c;
  }

  .main-navbar-top.navbar-home .navbar-toggle {
    border: 1px solid #fff;
  }
  .main-navbar-top.navbar-home .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .main-navbar-top.navbar-home .nav > li > a {
    color: #c4171c;
  }
  .main-navbar-top.navbar-home .nav > li > a:hover, .main-navbar-top.navbar-home .nav > li > a:focus {
    color: #c4171c;
  }
  .main-navbar-top.navbar-home .navbar-nav li.active:after {
    background: #c4171c;
  }

  .pull-right {
    float: none !important;
  }
}
/*============================= End Navigation =============================*/
/*=======================================================

	// HEADER SECTION

=========================================================*/
.header-bg {
  background-color: #c4171c;
}

.header .part-inner-left .btn:hover, .header .part-inner-left .btn:active, .header .part-inner-left .btn:focus {
  background-color: #fff;
  border-color: #fff;
  color: #c4171c;
}
.header .part-inner-left .btn-default.active, .header .part-inner-left .btn-default.focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/*============================= End Header Section =============================*/
/*=======================================================

	// SECOND SECTION

=========================================================*/
.second-right h2 {
  color: #c4171c;
}
.second-right .feature-media .media-each span i {
  color: #c4171c;
}
.second-right .feature-media .media-each .media-content h3 {
  color: #c4171c;
}

/*============================= End Second Section =============================*/
/*=======================================================

	// THIRD SECTION

=========================================================*/
.love-details-right .media .media-object {
  color: #c4171c;
}

/*============================= End Third Section =============================*/
/*=======================================================

	// FOURTH SECTION

=========================================================*/
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  background-color: #c4171c;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span:after {
  background-color: #c4171c;
}
.owl-theme .owl-dots .owl-dot:hover span:after {
  background-color: #c4171c;
  display: block;
}

.team-slider .item .caption h4 {
  color: #c4171c;
}
.team-slider .item .caption ul li:hover a {
  color: #c4171c;
}

/*============================= End Fourth Section =============================*/
/*=======================================================

	// FIFTH SECTION

=========================================================*/
.subscribe .subs-input button {
  background-color: #c4171c;
}

/*============================= End Fifth Section =============================*/
/*=======================================================

	// SIXTH SECTION

=========================================================*/
/*============================= End Sixth Section =============================*/
/*=======================================================

	// SEVENTH SECTION

=========================================================*/
.contact .contact-form .form-label {
  color: #888888;
}
.contact .contact-form .form-input {
  background-color: #EAEAEA;
}
.contact .contact-form .contact-social ul li a {
  color: #fff;
}
.contact .contact-form .contact-social ul li:nth-child(1) {
  background-color: #2F5E9B;
}
.contact .contact-form .contact-social ul li:nth-child(2) {
  background-color: #00A8DD;
}
.contact .contact-form .contact-social ul li:nth-child(3) {
  background-color: #E25445;
}
.contact .contact-form .contact-social button {
  background-color: #c4171c;
}
.contact .contact-form .contact-social button i {
  color: #ffffff;
}

/*============================= End Seventh Section =============================*/
/*=======================================================

	// Eighth SECTION

=========================================================*/
/*============================= End Eighth Section =============================*/
/*=======================================================

	// Ninth SECTION

=========================================================*/
.footer .section-header h2, .footer .section-header p {
  color: #fff;
}
.footer .btn {
  color: #fff;
  background-color: #c4171c;
}
.footer .btn:active {
  background-color: #c4171c;
  color: #ffffff;
}
.footer .footer-social ul li a {
  color: #999999;
}
.footer .footer-social ul li a:hover, .footer .footer-social ul li a:focus, .footer .footer-social ul li a:active {
  color: #c4171c;
}
.footer .footer-social p {
  color: #999999;
}
.footer .back2top a {
  color: #ffffff;
  background-color: #c4171c;
}

/*============================= End Ninth Section =============================*/
/*=======================================================

	// Style Switcher

=========================================================*/
.agency-style-switch .switch-button:hover {
  color: #c4171c;
}

/*============================= End Style Switcher =============================*/
