/*=======================================================

	// FOR 991;

=========================================================*/
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    margin: 0 !important;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
    text-align: center;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-collapse.collapse.in {
    /* NEW */
    display: block !important;
  }

  .header .part-inner-left {
    text-align: center;
  }
  .header .part-inner-left .mbile-com ul {
    margin: 0 auto;
  }

  .header-inner {
    background: none;
    background-size: auto;
    height: auto;
    margin-bottom: 50px;
  }

  .feature-slider .item img {
    width: 55%;
    margin: 0 auto;
  }

  .team {
    margin-top: 50px;
  }

  .contact .contact-form form {
    padding: 0 15px;
  }
  .contact .contact-form .first-form {
    padding-left: 0;
    padding-right: 0;
  }
  .contact .contact-form .second-form {
    padding-left: 0;
    padding-right: 0;
  }
  .contact .contact-form .contact-social {
    margin-top: -20px;
    position: relative;
  }
  .contact .contact-form .contact-social ul {
    padding: 0;
    display: table;
  }
  .contact .contact-form .contact-social ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    border-radius: 100%;
    margin-right: 6px;
  }
  .contact .contact-form .contact-social ul li a i {
    font-size: 25px;
  }
  .contact .contact-form .contact-social button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    border-radius: 100%;
    border: 0;
  }
  .contact .contact-form .contact-social button i {
    color: #ffffff;
  }
}
@media screen and (min-width: 992px) {
  .header .res-img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .subscribe .subs-input form .form-control {
    padding-left: 15px;
  }
  .subscribe .subs-input form button {
    padding: 12px 10px;
  }

  .footer-bottom {
    text-align: center;
  }
  .footer-bottom ul {
    margin: 0 auto;
  }
}
@media screen and (max-width: 330px) {
  .team-slider .item .figure .fig-overlay i {
    top: 7%;
    left: 30%;
  }
}
@media screen and (min-width: 420px) and (max-width: 767px) {
  .team-slider .item .figure .fig-overlay i {
    top: 35%;
    left: 44%;
  }
}
/*=======================================================

	// FOR 778 TO 990;

=========================================================*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .background-triangle .img.img-two {
    margin-top: 56px;
  }
  .background-triangle .img.img-three {
    margin-top: 190px;
  }

  .love-details-left {
    margin-top: 134px;
  }

  .display {
    display: none;
  }

  .display-tab {
    display: block;
  }
}
/*=======================================================

	// FOR 992 TO 1199;

=========================================================*/
@media screen and (min-width: 992px) and (max-width: 1190px) {
  .header-inner {
    background-size: 54%;
  }
}
/*=======================================================

	// FOR MAX-WIDTH: 767px;

=========================================================*/
@media screen and (max-width: 767px) {
  .main-navbar-top.navbar-home {
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    padding-top: 11px;
  }

  .header-inner {
    margin-top: 0;
    padding-top: 0;
  }
  .header-inner h1 {
    font-size: 55px !important;
  }

  .phn-center {
    text-align: center;
  }

  .display {
    display: none;
  }
}
/*=======================================================

	// FOR 778 TO 990;

=========================================================*/
/*=======================================================

	// FOR 0 TO 767;

=========================================================*/
@media screen and (max-width: 767px) {
  .main-navbar-top .navbar-nav {
    margin-right: inherit;
    text-align: center;
  }
  .main-navbar-top .navbar-header .navbar-brand {
    height: 65px;
  }

  .header .part-inner-left {
    margin: 175px 0 115px 0;
    text-align: center;
  }

  .second-left h2 {
    margin-top: 80px;
  }

  .second-right {
    margin: 40px 0 0 0;
  }

  .portfolio {
    margin-top: 80px;
  }
  .portfolio .portfolio-slider .owl-stage-outer {
    padding: 50px 0;
  }
  .portfolio .portfolio-slider img {
    transform: scale(0.5);
  }
  .portfolio .portfolio-slider .owl-item.center img {
    transform: scale(0.8);
  }

  /*=== OWL Controls Customization ===*/
  .owl-theme .owl-dots .owl-dot {
    margin-top: 0;
  }

  /*=== End OWL Controls Customization ===*/
  .form-label {
    line-height: 17px !important;
  }

  .footer {
    text-align: center;
  }
  .footer .footer-one p {
    text-align: center;
  }
}
