/*------------------------------------------------------------------
[Table of contents]

[ DEFULT INDEX NUMBER ]
1. Defult css
	-- Before this comment ( START MAIN CSS STYLE ) defult css continue .

2. Preloader

3. Header Section


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
	
	[ Light ]
		main-color:         #F8626D (Red)       [ This is the main color in Template ]
		Background-1:       #0E0E0E             [ Background color 1 ]
		Background-2:       #F5F5F5             [ Background color 2 ]
		Background-3:       #FFFFFF ()          [ Background color 3 ]
		light-color:        #FFFFFF             [ Using text color and some ware ]
		dark-color:         #000                [ Using text color and some ware ]
		@shadow-color:      rgba(0, 0, 0, .35)  [ Box shadow color ]


[ This Templage Using 1 Coller Scheme ]

	[ Main color ]
		1. Yellow:     #fdda44;

	[Background color ]
		1. First:        #f6f6f6;
		2. Second:       #f8fafc;
	
	[ Shadow color ]
		shadow-color:      fade(#000, 35%);

	[ Overlay color]
		overlay-color:     #fdda44;
		opacity:     	   0.8;



[ Using Color Code ]
	h1 [ All ]      Color: #fff                         [ White ]
	h2			    Color: #dddddd
	h3			    Color: #2c2c2c
	p  			    Color: #2c2c2c
	a  [ Normal ]   Color: #574a11                 [ as required ]

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

	[ There are using one font typography ]
		Typography 1: Railway-Heavy Font;
		Typography 2: Poooins Font;

-------------------------------------------------------------------*/

/******************
	Default CSS
******************/

/*=======================================================

	// GOOGLE FONT

=========================================================*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

//@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html {
	overflow-x: hidden;
}

body {
	font-family: 'Raleway', sans-serif;;
	overflow-x: hidden;
	background-color: #fff;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin: 0;
}

p {
	font-size: 16px;
	color: rgba(91, 91, 91, 1);
    font-weight: 400;
}

a:focus {
	outline: none;
}

.padding {
	padding: 0 26%;
}

.para-margin {
	margin-top: 33px
}

.display-tab {
	display: none;
}

.section-header {

	h2 {
		font-size: 24px;
		color: rgba(33, 33, 33, 1);
		font-weight: 700;
		text-transform: capitalize;
        line-height: 31px;
	}
    
    p{
        margin-top: 30px;
    }
}

/*=======================================================

	// PRE-LOADER

=========================================================*/

.preloader {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: visible;
	z-index: 99999;
	top: 0;
	left: 0;
}

.preloader .preloader-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.ball-triangle {
	width: 80px;
	height: 80px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
}

/*============================= End Preloader =============================*/

/*=======================================================

	// NAVIGATION

=========================================================*/

.main-navbar-top {
	border: 0px solid;
	transition: transform 0.4s, background-color 0.4s;
	-o-transition: -moz-transform 0.4s, background-color 0.4s;
	-moz-transition: -moz-transform 0.4s, background-color 0.4s;
	-webkit-transition: -webkit-transform 0.4s, background-color 0.4s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
	-o-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
	-ms-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
	-moz-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
	-webkit-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
}

.main-navbar-top {

	.navbar-nav {
		//margin-right: 35px;
        //margin-left: 189px;
	}
}

.main-navbar-top {

	.navbar-nav {

		li {

			&:last-child {

				a {
					margin-right: 0px;
				}
			}
		}
	}
}

.main-navbar-top {

	.navbar-header {

		.navbar-brand {
			display: block;
			height: 85px;
		}
	}
}

.main-navbar-top.navbar-home {
	box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
	transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	-o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	-ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	-moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	-webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
	padding-top: 11px;
}


.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}

.nav>li>a {
	color: #fff;
	padding-left: 20px;
}

.nav>li>a:hover, .nav>li>a:focus {
	color: #fff;
}

.navbar-nav li a {
	display: inline-block;
	position: relative;
	padding-bottom: 11px;
}

.navbar-nav li:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.navbar-nav li.active:after {
	width: 100%;
	background: #fff;
}

/*============================= End Navigation =============================*/

/*=======================================================

	// HEADER SECTION

=========================================================*/

.header-bg {
    margin-bottom: 140px;
}

.header-inner {
    margin-top: 110px;
    padding-top: 175px;
    height: 850px;
    background: url(../../images/mobile-on-hand.png) no-repeat 440px bottom;
    background-size: auto auto;
    background-size: 62%;
    
    .part-inner-left {
        -webkit-transition: all 0.4s ease-out;
		-moz-transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		-ms-transition: all 0.4s ease-out;
		transition: all 0.4s ease-out;
        
        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 85px;
            color: #fff;
            margin-bottom: 32px;
            
            span {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        
        h2 {
            color: #fff;
            text-transform: uppercase;
            line-height: 33px;
            margin-bottom: 30px;
            font-size: 21px;
            font-weight: 400;
        }
        
        p {
            font-size: 16px;
            color: #fff;
            text-align: justify;
        }
        
        .btn {
            padding: 9px 32px;
            font-weight: 400;
            font-size: 18px;
            text-transform: capitalize;
            transition-duration: 400ms;
            margin-top: 30px;
            border-radius: 12px;
            background-color: transparent;
            color: #fff;
            border-color: #fff;

			&:hover, &:active, &:focus {
				-webkit-box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.12);
				box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.12);
				outline: none;
			}
		}

    }
}

.mbile-com {
    margin-top: 40px;

    ul {
        display: table;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
            padding: 10px 0;

            img {
                border: 1px solid transparent;

                &:hover, &:focus, &:active {
                    border: 1px solid #fff;
                    border-radius: 4px;
                }
            }
        }
    }
}

/*============================= End Header Section =============================*/

/*=======================================================

	// SECOND SECTION

=========================================================*/

.feature-slider {
    
    .item {
        
        img {
            //width: 80%;
        }
    }
}
    
.owl-carousel {

    .owl-controls {
        margin-top: 94px;
    }

    .owl-controls .owl-dot span {
        border: 1px solid #000;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #fff;
    }

    .owl-dot {

        span { 
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                left: 4px;
                top: 4px;
                border-radius: 50%;
                display: none;
            }
        }
    }

    .owl-dot.active {

        span { 
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                left: 4px;
                top: 4px;
                border-radius: 50%;
                display: block;
            }
        }
    }
}

.second-right {
    margin-top: 90px;
    
    h2 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 34px;
    }
    
    p {
        margin-bottom: 64px;
        text-align: justify;
    }
    
    .feature-media {
        
        .media-each {
            
            span {
                float: left;
                padding: 15px;
                border: 1px solid #000;
                border-radius: 50%;
                
                i {
                    font-size: 25px;
                }
            }
            
            .media-content {
                padding-top: 8px;
                margin-left: 87px;
                
                h3 {
                    text-transform: uppercase;
                }
            }
        }
    }
}

/*============================= End Second Section =============================*/

/*=======================================================

	// THIRD SECTION

=========================================================*/

.download {
    background: url(../../images/download-wrapper.png) no-repeat top;
	background-size: inherit;
    height: 1300px;
    padding: 50px 0;
    margin-top: 80px;
    
    h2, p {
        color: #fff;
    }
    
    .download-mobile-screen {
        margin-top: 43px;
        
        .iphone {
            
            img {
                width: auto;
                height: auto;
                margin: 0 auto;  
            }  
        }
    }
    
    .mbile-com {
        
        ul {
            margin: auto;
            
            li {
                padding: 10px 20px;
                
                img {
                    width: 200px;
                }
            }
        }
    }
    
}



/*============================= End Third Section =============================*/

/*=======================================================

	// FOURTH SECTION

=========================================================*/

.team {
	margin-top: 103px;
    
    .owl-carousel .owl-item {
        padding: 70px;
    }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}

.team-slider {
    
    .item {
        
        .figure {
            overflow: hidden;
            text-align: center;
            position: relative;
            cursor: pointer;   
            
            .fig-overlay {
                position: absolute;
                overflow: hidden;
                opacity: 0;
                filter: alpha(opacity=0);
                width: 75%;
                height: 75%;
                left: 13%;
                top: 13%;
                border-radius: 80%;
                border: 2px solid #FFF;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(50%,50%,0);
                transform: translate3d(50%,50%,0);
                box-shadow: 1px 0px 19px 6px #888888;
                
                i {
                    color: #FFF;
                    padding: 1em 0;
                    opacity: 0;
                    //filter: alpha(opacity=0);
                    -webkit-transition: opacity 0.35s;
                    transition: opacity 0.35s;
                    font-size: 35px;
                    position: absolute;
                    left: 35%;
                    top: 17%;
                }
            }
            
            &:hover {
                
                .fig-overlay {
                    background-color: rgba(0,0,0,0.3);
                    opacity: 1;
                    filter: alpha(opacity=100);
                    -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
                    
                    i {
                        opacity: 1;
                    }
                }
            }
        }
        
        .caption {
            margin-top: 45px;
            
            h3 {
                font-size: 20px;
                text-transform: uppercase;
            }
            
            h4 {
                font-size: 20px;
                text-transform: uppercase;
            }
            
            ul {
                display: table;
                margin: 0 auto;
                padding: 0;
                
                li {
                    display: inline-block;
                    margin: 5px;
                    border: 1px solid #000;
                    border-radius: 100%;
                    padding: 2px;
                    
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
}

/*============================= End Fourth Section =============================*/

/*=======================================================

	// FIFTH SECTION

=========================================================*/

.subscribe {
    background: url(../../images/start-big-wrappera.png) no-repeat top;
    background-size: inherit;
    height: 1200px;
    padding-top: 50px;
    position: relative;
    margin-top: 90px;
    margin-bottom: 200px;
    
    .section-header {
        
        h2 {
            color: #fff;
        }
        
        p {
            margin-top: 25px;
            color: #fff;
        }
    }
    
    .subs-input {
        margin-top: 30px;
        
        form {
            position: relative;
            margin: 0 10%;
            
            .form-control {
                height: 75px;
                border-radius: 15px;
                padding-left: 55px;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                
                &:focus, &:active {
                    border-color: transparent;
                    outline: 0;
                    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
                }
            }
            
            button {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 15px;
                margin-top: 15px;
                color: #fff;
                text-transform: uppercase;
                border-radius: 15px;
                padding: 12px 50px;
                border: 0;
            }
        }
    }
    
    img {
        position: absolute;
        top: 50%;
        left: 20%;
        width: 55%;
    }
}

/*============================= End Fifth Section =============================*/

/*=======================================================

	// SIXTH SECTION

=========================================================*/

.support {
	margin-top: 70px;
    margin-bottom: 100px;
}

.map {
    position: relative;
    margin-top: 80px;
    
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    
    iframe {
        width: 100%;
        height: 760px;;
        border: 0;
    }
}

/*============================= End Sixth Section =============================*/

/*=======================================================

	// SEVENTH SECTION

=========================================================*/

.contact {
    
    .contact-form {
        
        .first-form {
            padding-left: 0;
            padding-right: 30px;
        }
        
        .second-form {
            padding-left: 30px;
            padding-right: 0;
        }
        
        .form-label {
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        
        .form-input {
            width: 100%;
            margin-bottom: 65px;
            padding: 25px 10px;
            border: 0;
        }
        
        .contact-social {
            margin-top: -20px;
            position: relative;
            
            ul {
                padding: 0;
                display: table;
                
                li {
                    list-style: none;
                    display: inline-block;
                    padding: 5px;
                    border-radius: 100%;
                    margin-right: 6px;
                    
                    a {
                        
                        i {
                            font-size: 25px;
                        }
                    }
                }
            }
            
            button {
                position: absolute;
                top: 0;
                right: 0;
                padding: 12px;
                border-radius: 100%;
                border: 0;
                
                i {
                    color: #ffffff;
                }
            }
        }
    }
}

/*============================= End Seventh Section =============================*/

/*=======================================================

	// Eighth SECTION

=========================================================*/



/*============================= End Eighth Section =============================*/

/*=======================================================

	// Ninth SECTION

=========================================================*/

.footer {
    background: url(../../images/footer.png) no-repeat top ;
    background-size: cover;
	margin-top: 108px;
	position: relative;
    
    .overlay {
        background: rgba(0,0,0,0.6);
        padding-top: 150px;
    }

    .section-header {
        padding: 0;
        
        p {
            margin-top: 20px;
            margin-bottom: 65px;
        }
    }
    
    .btn {
        padding: 18px 52px;
        color: #fff;
        text-transform: uppercase;
        border: 0;
        
        &:focus {
            outline: 0;
        }
    }
    
    .footer-bottom {
        margin-top: 160px;
    }
    
    .footer-social {
        margin-top: 15px;
        
        ul {
            padding: 0;
            display: table;
            
            li {
                list-style: none;
                display: inline-block;
                margin-right: 10px;
                
                a {
                    
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
    .footer-cpy {
            margin-top: 15px;
        }
    
    .back2top {
        
        a {
            padding: 15px;
            border-radius: 100%;
            position: absolute;
            top: 85%;
            right: 1%;
        }
    }
}

.btn:active:focus, .btn:focus {
    outline-offset: 0;
}

.btn {
    
    &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/*============================= End Ninth Section =============================*/