/*------------------------------------------------------------------
[Table of contents]

[ DEFULT INDEX NUMBER ]
1. Defult css
	-- Before this comment ( START MAIN CSS STYLE ) defult css continue .

2. Preloader

3. Header Section


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
	
	[ Light ]
		main-color:         #F8626D (Red)       [ This is the main color in Template ]
		Background-1:       #0E0E0E             [ Background color 1 ]
		Background-2:       #F5F5F5             [ Background color 2 ]
		Background-3:       #FFFFFF ()          [ Background color 3 ]
		light-color:        #FFFFFF             [ Using text color and some ware ]
		dark-color:         #000                [ Using text color and some ware ]
		@shadow-color:      rgba(0, 0, 0, .35)  [ Box shadow color ]


[ This Templage Using 1 Coller Scheme ]

	[ Main color ]
		1. Yellow:     #fdda44;

	[Background color ]
		1. First:        #f6f6f6;
		2. Second:       #f8fafc;
	
	[ Shadow color ]
		shadow-color:      fade(#000, 35%);

	[ Overlay color]
		overlay-color:     #fdda44;
		opacity:     	   0.8;



[ Using Color Code ]
	h1 [ All ]      Color: #fff                         [ White ]
	h2			    Color: #dddddd
	h3			    Color: #2c2c2c
	p  			    Color: #2c2c2c
	a  [ Normal ]   Color: #574a11                 [ as required ]

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

	[ There are using one font typography ]
		Typography 1: Railway-Heavy Font;
		Typography 2: Poooins Font;

-------------------------------------------------------------------*/
/******************
	Default CSS
******************/
/*=======================================================

	// GOOGLE FONT

=========================================================*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0;
}

p {
  font-size: 16px;
  color: #5b5b5b;
  font-weight: 400;
}

a:focus {
  outline: none;
}

.padding {
  padding: 0 26%;
}

.para-margin {
  margin-top: 33px;
}

.display-tab {
  display: none;
}

.section-header h2 {
  font-size: 24px;
  color: #212121;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 31px;
}
.section-header p {
  margin-top: 30px;
}

/*=======================================================

	// PRE-LOADER

=========================================================*/
.preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: visible;
  z-index: 99999;
  top: 0;
  left: 0;
}

.preloader .preloader-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.ball-triangle {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

/*============================= End Preloader =============================*/
/*=======================================================

	// NAVIGATION

=========================================================*/
.main-navbar-top {
  border: 0px solid;
  transition: transform 0.4s, background-color 0.4s;
  -o-transition: -moz-transform 0.4s, background-color 0.4s;
  -moz-transition: -moz-transform 0.4s, background-color 0.4s;
  -webkit-transition: -webkit-transform 0.4s, background-color 0.4s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
  -o-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
  -ms-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
  -moz-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
  -webkit-transform: translateX(0) translateY(50px) translateZ(0) rotate(0deg) scale(1.002);
}

.main-navbar-top .navbar-nav li:last-child a {
  margin-right: 0px;
}

.main-navbar-top .navbar-header .navbar-brand {
  display: block;
  height: 85px;
}

.main-navbar-top.navbar-home {
  box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  padding-top: 11px;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.nav > li > a {
  color: #fff;
  padding-left: 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #fff;
}

.navbar-nav li a {
  display: inline-block;
  position: relative;
  padding-bottom: 11px;
}

.navbar-nav li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.navbar-nav li.active:after {
  width: 100%;
  background: #fff;
}

/*============================= End Navigation =============================*/
/*=======================================================

	// HEADER SECTION

=========================================================*/
.header-bg {
  margin-bottom: 140px;
}

.header-inner {
  margin-top: 110px;
  padding-top: 175px;
  height: 850px;
  background: url(../../images/mobile-on-hand.png) no-repeat 440px bottom;
  background-size: auto auto;
  background-size: 62%;
}
.header-inner .part-inner-left {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header-inner .part-inner-left h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 85px;
  color: #fff;
  margin-bottom: 32px;
}
.header-inner .part-inner-left h1 span {
  font-weight: 700;
  text-transform: uppercase;
}
.header-inner .part-inner-left h2 {
  color: #fff;
  text-transform: uppercase;
  line-height: 33px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 400;
}
.header-inner .part-inner-left p {
  font-size: 16px;
  color: #fff;
  text-align: justify;
}
.header-inner .part-inner-left .btn {
  padding: 9px 32px;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  transition-duration: 400ms;
  margin-top: 30px;
  border-radius: 12px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.header-inner .part-inner-left .btn:hover, .header-inner .part-inner-left .btn:active, .header-inner .part-inner-left .btn:focus {
  -webkit-box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.12);
  outline: none;
}

.mbile-com {
  margin-top: 40px;
}
.mbile-com ul {
  display: table;
  padding: 0;
}
.mbile-com ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 0;
}
.mbile-com ul li img {
  border: 1px solid transparent;
}
.mbile-com ul li img:hover, .mbile-com ul li img:focus, .mbile-com ul li img:active {
  border: 1px solid #fff;
  border-radius: 4px;
}

/*============================= End Header Section =============================*/
/*=======================================================

	// SECOND SECTION

=========================================================*/
.owl-carousel .owl-controls {
  margin-top: 94px;
}
.owl-carousel .owl-controls .owl-dot span {
  border: 1px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
}
.owl-carousel .owl-dot span {
  position: relative;
}
.owl-carousel .owl-dot span:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  display: none;
}
.owl-carousel .owl-dot.active span {
  position: relative;
}
.owl-carousel .owl-dot.active span:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  display: block;
}

.second-right {
  margin-top: 90px;
}
.second-right h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 34px;
}
.second-right p {
  margin-bottom: 64px;
  text-align: justify;
}
.second-right .feature-media .media-each span {
  float: left;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 50%;
}
.second-right .feature-media .media-each span i {
  font-size: 25px;
}
.second-right .feature-media .media-each .media-content {
  padding-top: 8px;
  margin-left: 87px;
}
.second-right .feature-media .media-each .media-content h3 {
  text-transform: uppercase;
}

/*============================= End Second Section =============================*/
/*=======================================================

	// THIRD SECTION

=========================================================*/
.download {
  background: url(../../images/download-wrapper.png) no-repeat top;
  background-size: inherit;
  height: 1300px;
  padding: 50px 0;
  margin-top: 80px;
}
.download h2, .download p {
  color: #fff;
}
.download .download-mobile-screen {
  margin-top: 43px;
}
.download .download-mobile-screen .iphone img {
  width: auto;
  height: auto;
  margin: 0 auto;
}
.download .mbile-com ul {
  margin: auto;
}
.download .mbile-com ul li {
  padding: 10px 20px;
}
.download .mbile-com ul li img {
  width: 200px;
}

/*============================= End Third Section =============================*/
/*=======================================================

	// FOURTH SECTION

=========================================================*/
.team {
  margin-top: 103px;
}
.team .owl-carousel .owl-item {
  padding: 70px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.team-slider .item .figure {
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.team-slider .item .figure .fig-overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 75%;
  height: 75%;
  left: 13%;
  top: 13%;
  border-radius: 80%;
  border: 2px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%, 50%, 0);
  transform: translate3d(50%, 50%, 0);
  box-shadow: 1px 0px 19px 6px #888888;
}
.team-slider .item .figure .fig-overlay i {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  font-size: 35px;
  position: absolute;
  left: 35%;
  top: 17%;
}
.team-slider .item .figure:hover .fig-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.team-slider .item .figure:hover .fig-overlay i {
  opacity: 1;
}
.team-slider .item .caption {
  margin-top: 45px;
}
.team-slider .item .caption h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.team-slider .item .caption h4 {
  font-size: 20px;
  text-transform: uppercase;
}
.team-slider .item .caption ul {
  display: table;
  margin: 0 auto;
  padding: 0;
}
.team-slider .item .caption ul li {
  display: inline-block;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 100%;
  padding: 2px;
}
.team-slider .item .caption ul li a {
  color: #000;
}

/*============================= End Fourth Section =============================*/
/*=======================================================

	// FIFTH SECTION

=========================================================*/
.subscribe {
  background: url(../../images/start-big-wrappera.png) no-repeat top;
  background-size: inherit;
  height: 1200px;
  padding-top: 50px;
  position: relative;
  margin-top: 90px;
  margin-bottom: 200px;
}
.subscribe .section-header h2 {
  color: #fff;
}
.subscribe .section-header p {
  margin-top: 25px;
  color: #fff;
}
.subscribe .subs-input {
  margin-top: 30px;
}
.subscribe .subs-input form {
  position: relative;
  margin: 0 10%;
}
.subscribe .subs-input form .form-control {
  height: 75px;
  border-radius: 15px;
  padding-left: 55px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.subscribe .subs-input form .form-control:focus, .subscribe .subs-input form .form-control:active {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.subscribe .subs-input form button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 12px 50px;
  border: 0;
}
.subscribe img {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 55%;
}

/*============================= End Fifth Section =============================*/
/*=======================================================

	// SIXTH SECTION

=========================================================*/
.support {
  margin-top: 70px;
  margin-bottom: 100px;
}

.map {
  position: relative;
  margin-top: 80px;
}
.map .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.map iframe {
  width: 100%;
  height: 760px;
  border: 0;
}

/*============================= End Sixth Section =============================*/
/*=======================================================

	// SEVENTH SECTION

=========================================================*/
.contact .contact-form .first-form {
  padding-left: 0;
  padding-right: 30px;
}
.contact .contact-form .second-form {
  padding-left: 30px;
  padding-right: 0;
}
.contact .contact-form .form-label {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact .contact-form .form-input {
  width: 100%;
  margin-bottom: 65px;
  padding: 25px 10px;
  border: 0;
}
.contact .contact-form .contact-social {
  margin-top: -20px;
  position: relative;
}
.contact .contact-form .contact-social ul {
  padding: 0;
  display: table;
}
.contact .contact-form .contact-social ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  border-radius: 100%;
  margin-right: 6px;
}
.contact .contact-form .contact-social ul li a i {
  font-size: 25px;
}
.contact .contact-form .contact-social button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  border-radius: 100%;
  border: 0;
}
.contact .contact-form .contact-social button i {
  color: #ffffff;
}

/*============================= End Seventh Section =============================*/
/*=======================================================

	// Eighth SECTION

=========================================================*/
/*============================= End Eighth Section =============================*/
/*=======================================================

	// Ninth SECTION

=========================================================*/
.footer {
  background: url(../../images/footer.png) no-repeat top;
  background-size: cover;
  margin-top: 108px;
  position: relative;
}
.footer .overlay {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 150px;
}
.footer .section-header {
  padding: 0;
}
.footer .section-header p {
  margin-top: 20px;
  margin-bottom: 65px;
}
.footer .btn {
  padding: 18px 52px;
  color: #fff;
  text-transform: uppercase;
  border: 0;
}
.footer .btn:focus {
  outline: 0;
}
.footer .footer-bottom {
  margin-top: 160px;
}
.footer .footer-social {
  margin-top: 15px;
}
.footer .footer-social ul {
  padding: 0;
  display: table;
}
.footer .footer-social ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.footer .footer-social ul li a i {
  font-size: 16px;
}
.footer .footer-cpy {
  margin-top: 15px;
}
.footer .back2top a {
  padding: 15px;
  border-radius: 100%;
  position: absolute;
  top: 85%;
  right: 1%;
}

.btn:active:focus, .btn:focus {
  outline-offset: 0;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*============================= End Ninth Section =============================*/
